src/main/mule/acmetravel.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="acmetravel-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="acmetravel-config" raml="acmetravel.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="acmetraveldb" doc:name="Database Config" doc:id="c8022700-87ce-4f43-914c-83a1d6890d88" >
		<db:my-sql-connection host="rds-mysql-assessment.ckld9drpn0yb.eu-west-1.rds.amazonaws.com" port="3306" user="*****" password="*****" database="airlines_sandbox" transactionIsolation="READ_COMMITTED"/>
	</db:config>
	<flow name="acmetravel-main">
        <http:listener config-ref="acmetravel-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="acmetravel-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="9f581348-2201-4ea3-8b65-cc984f2ba9b5">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="acmetravel-console">
        <http:listener config-ref="acmetravel-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="acmetravel-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND" enableNotifications="true" logException="true">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="patch:\flights:application\json:acmetravel-config">
        <logger level="INFO" message="patch:\flights:application\json:acmetravel-config" />
    </flow>
    <flow name="get:\destinations\(airline)\(page):acmetravel-config">
		<db:select doc:name="Select destinations by airline" doc:id="1246443e-0dc2-4897-b7b4-95e5acfe8db2" config-ref="acmetraveldb">
			<db:sql >select a.country, a.city, a.name from routes r 
	left join airports a on r.destination_airport_id = a.airport_id 
	where r.airline_id = :airline
	order by a.airport_Id LIMIT 5,10;</db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	airline: attributes.uriParams.airline,
}]]]></db:input-parameters>
		</db:select>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="91f5f859-1260-4f29-a77f-f471c7cf0df4">
            <ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	country: payload01.country default "",
	airportName: payload01.name default "",
	city: payload01.city default ""
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
                <ee:set-variable variableName="airline"><![CDATA[attributes.uriParams.airline]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\destinations\(airline)\(page):acmetravel-config" />
    </flow>
    <flow name="get:\flights\(date):acmetravel-config">
		<db:select doc:name="Select flights by date" doc:id="ac780692-c0f9-451e-9cd1-ba2f7838f428" config-ref="acmetraveldb">
			<db:sql >select * from flights_Piotrbed where DATE(departure_date) = :date;
</db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
{'date' : attributes.uriParams.date}]]]></db:input-parameters>
		</db:select>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="a3009d8d-e93e-469e-b55b-46240adf507b">
            <ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	aircraftType: payload01.Aircraft_Type,
	flightCode: payload01.Flight_Code,
	departureAirport: payload01.Departure_Airport,
	price: payload01.Price,
	departureDate: payload01.Departure_Date as String,
	seatAvailability: payload01.Seat_Availability,
	airlineName: payload01.Airline_Name,
	destinationAirport: payload01.Destination_Airport
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\flights\(date):acmetravel-config" />
    </flow>
	<flow name="post:\flights\(flightCode)\bookings:acmetravel-config">
        <db:update doc:name="Book ticket" doc:id="0d410d4b-7d1a-444a-9129-207768f932c9" config-ref="acmetraveldb">
			<db:sql >update flights_Piotrbed set seat_availability = seat_availability - 1
where flight_code = :flightCode and seat_availability &gt; 0;</db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
flightCode: attributes.uriParams.flightCode]]]></db:input-parameters>
		</db:update>
        <logger level="INFO" message="post:\flights\(flightCode)\bookings:acmetravel-config" />
    </flow>
    <flow name="post:\flights:application\json:acmetravel-config">
        <logger level="INFO" message="post:\flights:application\json:acmetravel-config" />
    </flow>
</mule>
